:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  cursor: default;
}

.container {
  margin: 0;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left,
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

h1 {
  text-align: center;
}

.game {
  width: min(60vh, 60vw);
  height: min(60vh, 60vw);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #54a496;
  border: solid #54a496 2px;
  border-radius: 7px;
  color: #2f2f2f;
}

.cell {
  width: 24%;
  height: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 7px;
}

.message {
  text-align: center;
  font-size: 32px;
  padding: 15px;
}

#new-game-button {
  border: none;
  padding: 8px;
  background-color: inherit;
  color: #cc6699;
  outline: none;
}

#new-game-button:hover {
  color: #99cc66;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  .game {
    background-color: #546b7b;
    border: solid #546b7b 2px;
  }
}
